@import "../../vars.css";

.container {
  position: relative;
  background-color: rgba(12, 12, 12, 0.6);
  border-radius: 15px;
  padding: 73px;
  margin-top: 129px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.aboutImage {
  width: 35%;
}

.aboutItems {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.aboutItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  list-style: none;
  padding: 25px;
  background-image: linear-gradient(
    90deg,
    rgba(165, 215, 232, 0.42) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.4s;
}

.aboutItem:hover {
  background-size: 100% 100%;
}

.aboutItem h3 {
  font-size: 25px;
  font-weight: 600;
}

.aboutItem p {
  font-size: 25px;
}

@media screen and (max-width: 830px) {
  .container {
    padding: 30px; /* Adjust padding for mobile */
    margin-left: 5%; /* Adjust left margin */
    margin-right: 5%; /* Adjust right margin */
    /* flex-direction: column; */
  }

  .title {
    font-size: 25px; /* Decrease title font size for mobile */
    text-align: center; /* Center title text */
  }

  .content {
    flex-direction: column; /* Stack items vertically on mobile */
    align-items: center; /* Center items horizontally */
  }

  .aboutImage {
    width: 100%; /* Make image full width on mobile */
    max-width: 300px; /* Limit image width on smaller screens */
    margin-bottom: 10px; /* Add spacing below image */
    align-items: center;
  }

  .aboutItems {
    margin-top: 20px; /* Adjust margin for mobile */
    text-align: center;
  }

  .aboutItem {
    padding: 20px; /* Adjust padding for mobile */
    flex-direction: column;
  }

  .aboutItem h3 {
    font-size: 20px; /* Decrease heading font size for mobile */
    text-align: center; /* Center heading text */
  }

  .aboutItem p {
    font-size: 20px;
  }
}
