@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 120px;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  padding: 58px 0%;
  gap: 20px;
}

.text h2 {
  font-size: 50px;
  margin-bottom: 30px;
  font-weight: 700;
  letter-spacing: 2px;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  list-style: none;
  gap: 26px;
}
.link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    padding-left: 0; /* Remove left padding */
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text */
  }
  .text h2 {
    font-size: 40px; /* Decrease heading font size for mobile */
    margin-bottom: 20px; /* Decrease margin bottom */
  }
  .links {
    gap: 20px; /* Adjust spacing between links */
  }
  .link {
    flex-direction: column; /* Align items vertically */
    align-items: center; /* Center horizontally */
    gap: 10px; /* Adjust spacing between elements */
  }
  .link img {
    max-width: 200px; /* Adjust certificate image size */
  }
}
